<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" href="img/favicon.png">
      <title>Movbok - Movies, Events, Sports Website HTML Template</title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css"/>
      <!-- Custom fonts for this template-->
      <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="css/osahan.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-expand navbar-dark topbar static-top shadow-sm bg-dark osahan-nav-top">
         <div class="container">
            <!-- Sidebar Toggle (Topbar) -->
            <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt=""></a>
            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
               <div class="input-group">
                  <input type="text" class="form-control bg-white border-0 small" placeholder="Search for Movies, Events, Plays, Sports and Activities..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                     <button class="btn bg-white" type="button">
                     <i class="fas fa-search fa-sm"></i>
                     </button>
                  </div>
               </div>
            </form>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
               <!-- Nav Item - Search Dropdown (Visible Only XS) -->
               <li class="nav-item dropdown no-arrow d-sm-none">
                  <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                  </a>
                  <!-- Dropdown - Messages -->
                  <div class="dropdown-menu dropdown-menu-right p-3 shadow-sm animated--grow-in" aria-labelledby="searchDropdown">
                     <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                           <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                           <div class="input-group-append">
                              <button class="btn btn-primary" type="button">
                              <i class="fas fa-search fa-sm"></i>
                              </button>
                           </div>
                        </div>
                     </form>
                  </div>
               </li>
               <!-- Nav Item - Alerts -->
               <li class="nav-item no-arrow mx-1">
                  <a class="nav-link" href="offers.html">
                     <i class="fas fa-fire fa-fw"></i>
                     <!-- Counter - Alerts -->
                     <span class="badge badge-danger bg-gradient-danger">NEW</span>
                  </a>
               </li>
               <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="fas fa-bell fa-fw"></i>
                     <!-- Counter - Alerts -->
                     <span class="badge badge-danger badge-counter">8+</span>
                  </a>
                  <!-- Dropdown - Alerts -->
                  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm animated--grow-in" aria-labelledby="alertsDropdown">
                     <h6 class="dropdown-header">
                        Alerts
                     </h6>
                     <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                           <div class="icon-circle bg-primary text-white">
                              KN
                           </div>
                        </div>
                        <div>
                           <div class="small text-gray-500">December 12, 2019</div>
                           <span class="font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           </span>
                        </div>
                     </a>
                     <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                           <img class="rounded-circle w-60" src="img/s1.png" alt="">
                           <div class="status-indicator bg-success"></div>
                        </div>
                        <div>
                           <div class="text-truncate">Duis vel est sit amet ipsum egestas efficitur.</div>
                           <div class="small text-gray-500">Gurdeep Osahan · 58m</div>
                        </div>
                     </a>
                     <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                           <img class="rounded-circle w-60" src="img/s2.png" alt="">
                           <div class="status-indicator"></div>
                        </div>
                        <div>
                           <div class="text-truncate">Pellentesque euismod diam sit amet nibh molestie, imperdiet feugiat mi feugiat.</div>
                           <div class="small text-gray-500">Jae Chun · 1d</div>
                        </div>
                     </a>
                     <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                           <img class="rounded-circle w-60" src="img/s3.png" alt="">
                           <div class="status-indicator bg-warning"></div>
                        </div>
                        <div>
                           <div class="text-truncate">Quisque ac justo bibendum nunc fringilla pharetra nec sit amet mauris.</div>
                           <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                        </div>
                     </a>
                     <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                           <div class="icon-circle bg-success">
                              <i class="fas fa-donate text-white"></i>
                           </div>
                        </div>
                        <div>
                           <div class="small text-gray-500">December 7, 2019</div>
                           Sed aliquet nibh nec odio congue, in condimentum massa dapibus.
                        </div>
                     </a>
                     <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                           <div class="icon-circle bg-warning">
                              <i class="fas fa-exclamation-triangle text-white"></i>
                           </div>
                        </div>
                        <div>
                           <div class="small text-gray-500">December 2, 2019</div>
                           Pellentesque sit amet nunc consectetur, porta sapien a, bibendum dolor.
                        </div>
                     </a>
                     <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                  </div>
               </li>
               <!-- Nav Item - User Information -->
               <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle pr-0" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline small">askbootstrap</span>
                  <img class="img-profile rounded-circle" src="img/s4.png">
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow-sm animated--grow-in" aria-labelledby="userDropdown">
                     <a class="dropdown-item" href="profile.html">
                     <i class="fas fa-user-circle fa-sm fa-fw mr-2 ri"></i>
                     Profile
                     </a>
                     <a class="dropdown-item" href="profile.html">
                     <i class="fas fa-heart fa-sm fa-fw mr-2 ri"></i>
                     Watchlist
                     </a>
                     <a class="dropdown-item" href="profile.html">
                     <i class="fas fa-list-alt fa-sm fa-fw mr-2 ri"></i>
                     Your Lists
                     </a>
                     <a class="dropdown-item" href="profile.html">
                     <i class="fas fa-cog fa-sm fa-fw mr-2 ri"></i>
                     Account Settings
                     </a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                     <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 ri"></i>
                     Logout
                     </a>
                  </div>
               </li>
            </ul>
         </div>
      </nav>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark osahan-nav-mid">
         <div class="container">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                  <a class="nav-link" href="movies.html">
                  <i class="fas fa-fw fa-film"></i>
                  <span>Movies</span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="events.html">
                  <i class="fas fa-fw fa-glass-cheers"></i>
                  <span>Events</span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="people.html">
                  <i class="fas fa-fw fa-users"></i>
                  <span>People</span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="sports.html">
                  <i class="fas fa-fw fa-futbol"></i>
                  <span>Sports</span></a>
               </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="offers.html">
                     Offers</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="about.html">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="contact.html">Contact</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Pages
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="movies.html">Movies</a>
                        <a class="dropdown-item" href="movies-detail.html">Movie Detail</a>
                        <a class="dropdown-item" href="events.html">Events</a>
                        <a class="dropdown-item" href="events-detail.html">Event Detail</a>
                        <a class="dropdown-item" href="people.html">People</a>
                        <a class="dropdown-item" href="people-detail.html">People Detail</a>
                        <a class="dropdown-item" href="sports.html">Sports</a>
                        <a class="dropdown-item" href="sports-detail.html">Sport Detail</a>
                     </div>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Other Pages
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="login.html">Login</a>
                        <a class="dropdown-item" href="register.html">Register</a>
                        <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                        <a class="dropdown-item" href="faq.html">FAQ</a>
                        <a class="dropdown-item" href="404.html">404 Page</a>
                        <a class="dropdown-item" href="blank.html">Blank Page</a>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <section class="py-4 bg-light  inner-header">
         <div class="container">
            <div class="row d-flex align-items-center">
               <div class="col-lg-6 col-md-6">
                  <h4 class="mt-0 mb-0 text-dark">
                     Blank       
                  </h4>
               </div>
               <div class="col-lg-6 col-md-6 text-right">
                  <div class="breadcrumbs">
                     <p class="mb-0"><a href="#"><i class="icofont-ui-home"></i> Home</a>  /  <span>Blank</span></p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="faq-page py-5 bg-light border-top">
         <div class="container">
            <div class="row">
               <div class="col-md-12 mx-auto">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="bg-white p-4 shadow rounded h-100">
                           <h3 class="mt-0 mb-3">What is Lorem Ipsum?</h3>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                           </p>
                           <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                           </p>
                           <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Footer -->
		<div class="pt-5 pb-4 bg-white footer">
		   <div class="container">
			  <div class="row">
				 <div class="col-xl-3 col-md-6 mb-4">
					<h6>BEST LANGUAGE GENRE MOVIES</h6>
					<ul>
					   <li><a href="#">Punjabi Action Movies</a></li>
					   <li><a href="#">English Animated Movies</a></li>
					   <li><a href="#">English Fantasy Movies</a></li>
					   <li><a href="#">English Comedy Movies</a></li>
					   <li><a href="#">English Action Movies</a></li>
					   <li><a href="#">Tamil Action Movies</a></li>
					   <li><a href="#">Hindi Animated Movies</a></li>
					</ul>
				 </div>
				 <div class="col-xl-3 col-md-6 mb-4">
					<h6>MOVIES BY GENRE</h6>
					<ul>
					   <li><a href="#">Best Animated Movies</a></li>
					   <li><a href="#">Best Fantasy Movies</a></li>
					   <li><a href="#">Best Comedy Movies</a></li>
					   <li><a href="#">Best Action Movies</a></li>
					   <li><a href="#">Tamil Action Movies</a></li>
					   <li><a href="#">Punjabi Action Movies</a></li>
					   <li><a href="#">Hindi Animated Movies</a></li>
					</ul>
				 </div>
				 <div class="col-xl-3 col-md-6 mb-4">
					<h6>POPULAR MOVIES</h6>
					<ul>
					   <li><a href="#">English Comedy Movies</a></li>
					   <li><a href="#">English Action Movies</a></li>
					   <li><a href="#">Punjabi Action Movies</a></li>
					   <li><a href="#">English Animated Movies</a></li>
					   <li><a href="#">English Fantasy Movies</a></li>
					   <li><a href="#">Tamil Action Movies</a></li>
					   <li><a href="#">Hindi Animated Movies</a></li>
					</ul>
				 </div>
				 <div class="col-xl-3 col-md-6 mb-4">
					<h6>ABOUT Movbok</h6>
					<ul>
					   <li><a href="#">About Us</a></li>
					   <li><a href="#">Press Coverage</a></li>
					   <li><a href="#">Current Openings</a></li>
					   <li><a href="#">Contact Us</a></li>
					   <li><a href="#">English Action Movies</a></li>
					   <li><a href="#">Tamil Action Movies</a></li>
					   <li><a href="#">Press Release</a></li>
					</ul>
				 </div>
			  </div>
		   </div>
		</div>
		<footer class="py-4">
		   <div class="container">
			  <p class="m-0 text-center">Copyright &copy; <strong>Movbok</strong> 2020 | Made with <i class="fas fa-heart fa-fw text-danger"></i> by <a class="text-danger" target="_blank" href="https://www.instagram.com/iamgurdeeposahan/">askbootstrap</a></p>
		   </div>
		   <!-- /.container -->
		</footer>
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="js/osahan.js"></script>
   </body>
</html>